@font-face {
  font-family: "NotoSan-Lao";
  font-weight: 100;
  src: url("/fonts/NotoSansLao-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSan-Lao";
  font-weight: 200;
  src: url("/fonts/NotoSansLao-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSan-Lao";
  font-weight: 300;
  src: url("/fonts/NotoSansLao-Light.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSan-Lao";
  font-weight: 400;
  src: url("/fonts/NotoSansLao-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSan-Lao";
  font-weight: 500;
  src: url("/fonts/NotoSansLao-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSan-Lao";
  font-weight: 600;
  src: url("/fonts/NotoSansLao-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSan-Lao";
  font-weight: 700;
  src: url("/fonts/NotoSansLao-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSan-Lao";
  font-weight: 800;
  src: url("/fonts/NotoSansLao-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSan-Lao";
  font-weight: 900;
  src: url("/fonts/NotoSansLao-Black.ttf") format("truetype");
}
