.sweetalert-container {
  @apply font-lao;
}

.sweetalert-popup {
  width: 25rem !important;
}

.sweetalert-icon {
  width: 3.7rem !important;
  height: 3.7rem !important;
}

.sweetalert-title {
  font-size: 1.5rem !important;
}

.sweetalert-text {
  font-size: 1rem !important;
}

.sweetalert-button {
  font-size: 0.9rem !important;
  padding: 0.5rem 1.5rem !important;
}
